flet
requests
numpy
pyrebase
pytorch
math
shutil
librosa
time
uuid
tempfile
tensorflow
webbrowser
os
re
cv2
face_recognition
torchvision
matplotlib
sys
PIL
transformers
captum
torchaudio
sklearn
tqdm
