flet
requests
numpy
pyrebase
torchvision
tensorflow
librosa
face_recognition
matplotlib
scikit-learn
tqdm
Pillow
captum
torch>=2.0
torchaudio>=2.0
transformers==4.45.1
tokenizers==0.19.1
